<launch>
  <node type="rviz" name="rviz" pkg="rviz"  args="-d $(find odometry_transformer)/cfg/test.rviz" />

  <node name="odometry_publisher" pkg="odometry_transformer" type="test_odometry_publisher" output="screen" >

    <param name="radius" value="3.0"/>
    <param name="height" value="1.0"/>
    <param name="period" value="30.0"/>

  </node>

  <include file="$(find odometry_transformer)/launch/odometry_transformer.launch">
    <arg name="source_frame" value="camera" />
    <arg name="target_frame" value="base" />
    <arg name="source_odometry" value="/odometry_publisher/camera_odometry" />
    <arg name="target_odometry" value="/odometry_publisher/base_odometry" />
  </include>
</launch>
