<launch>
  <node type="rviz" name="rviz" pkg="rviz"  args="-d $(find odometry_transformer)/test/cfg/test_realsense_t265.rviz" />

  <include file="$(find odometry_transformer)/launch/odometry_transformer.launch">
    <arg name="source_frame" value="camera_pose_frame" />
    <arg name="target_frame" value="robot_body_frame" />
    <arg name="source_odometry" value="/camera/odom/sample" />
    <arg name="target_odometry" value="/camera/odom_body/sample" />
    <arg name="lookup_tf" value="false" />
    <arg name="q_TS" value="[0, 0.3826834, 0, 0.9238796]"/>
    <arg name="T_r_TS" value="[1.0, 0.0, 0.0]"/>
  </include>

  <group ns="camera">
    <rosparam command="load" file="$(find odometry_transformer)/test/cfg/t265.yaml" />
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="tf_prefix"                value="camera"/>
      <arg name="serial_no"                value=""/>
      <arg name="usb_port_id"              value=""/>
      <arg name="device_type"              value="t265"/>
      <arg name="json_file_path"           value=""/>

      <arg name="enable_sync"              value="false"/>

      <arg name="fisheye_width"            value="-1"/>
      <arg name="fisheye_height"           value="-1"/>
      <arg name="enable_fisheye1"          value="false"/>
      <arg name="enable_fisheye2"          value="false"/>

      <arg name="fisheye_fps"              value="-1"/>
      <arg name="gyro_fps"                 value="-1"/>
      <arg name="accel_fps"                value="-1"/>
      <arg name="enable_gyro"              value="true"/>
      <arg name="enable_accel"             value="true"/>
      <arg name="enable_pose"              value="true"/>

      <arg name="linear_accel_cov"         value="0.01"/>
      <arg name="initial_reset"            value="true"/>
      <arg name="reconnect_timeout"        value="6.0"/>
      <arg name="unite_imu_method"         value=""/>

      <arg name="publish_odom_tf"          value="true"/>
    </include>
  </group>
</launch>
