<launch>
  <node type="rviz" name="rviz" pkg="rviz"  args="-d $(find odometry_transformer)/test/cfg/test_realsense_t265.rviz" />

  <include file="$(find odometry_transformer)/launch/odometry_transformer.launch">
    <arg name="source_frame" value="camera_pose_frame" />
    <arg name="target_frame" value="robot_body_frame" />
    <arg name="source_odometry" value="/camera/odom/sample" />
    <arg name="target_odometry" value="/camera/odom_body/sample" />
    <arg name="lookup_tf" value="false" />
    <arg name="q_TS" value="[0, 0.3826834, 0, 0.9238796]"/>
    <arg name="T_r_TS" value="[1.0, 0.0, 0.0]"/>
  </include>

  <include file="$(find realsense2_camera)/launch/rs_t265.launch"/>

</launch>
